* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.2px;
}

header {
  background-color: #2C9AB7;
  padding-top: 3rem;
  color: white;
}

main {
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
}

h1 {
  padding-left: 10%;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 3.3rem;
}

h2 {
  padding-left: 10%;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
  font-weight: 200;
  width: 36%;
}

h3 {
  text-transform: uppercase;
  color: #3A3A3A;
  padding-bottom: .8rem;
}

h4 {
  color: #2C9AB7;
}

nav {
  background-color: #EBEBEB;
  padding: 1rem 0;
}

.Links {
  padding-left: 10%;
}

.Links a {
  padding-right: .6rem;
  color: black;
  font-size: .9rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

blockquote {
  font-size: 1.1rem;
  padding: 2rem 0;
}

p {
  margin-bottom: 1rem;
  font-size: .8rem;
  line-height: 1.3rem;
  color: #3A3A3A;
}

section {
  flex: 50%;
  margin-right: 6%;
}

article {
  margin-bottom: 2rem;
}

aside {
  flex: 50%;
}

aside article {
  margin: 2.3rem 0;
}

.SideArticle {
  margin-bottom: 3rem;
  width: 50%;

}

#CatOfWeek {
  width: 90%;
}

.Blue {
  color: #52BAD5;
}

footer {
  background-color: #3A3A3A;
  text-align: center;
  color: white;
  padding: 2rem 25%;
  font-size: .7rem;
}

footer p {
  color: white;
  margin: 2rem 5rem;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 0 .5rem;
}

figcaption {
  padding-top: .6rem;
  padding-bottom: 1.6rem;
}

.FooterImage {
  width: 42%;
}
